
body{
    background-color: hsl(187, 100%, 60%);
    font-family: sans-serif;
}

h1{
    text-transform: uppercase;
    font-size: 400%;
    text-align: center;
    color: hsl(187, 100%, 20%);
    letter-spacing: 33px;
    margin: 0%;
}

p{
    border: 5px hsl(187, 100%, 20%) dashed;
    background-color: hsl(187, 100%, 40%);
    font-size: 1.5rem;
    font-style: oblique;
    float: left;
    width: 270px;
    height: 275px;
    margin: 10px;
    padding: 5px;
    overflow: auto;
}

p::first-letter{
    color: hsl(187, 100%, 20%);
    font-size: 400%;
    font-style: normal;
    float: left;
}